
#stats-tech {
    grid-area: tech;
}

#tech-docker-level {
    width: 12rem;
}

#tech-azure-level {
    width: 10rem;
}

#tech-node-js-level {
    width: 16rem;
}

#tech-git-img {
    filter: invert(1.0);
}

#tech-git-level {
    width: 15rem;
}

#tech-react-img {
    filter: brightness(0.0) saturate(1.0) invert(81%) sepia(11%) saturate(4461%) hue-rotate(165deg) brightness(106%) contrast(97%);
}

#tech-react-level {
    width: 11rem;
}