
.about-btf {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-btf-container {
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                         "edu experience languages"
                         "edu whoami languages"
                         "tech tools skills";
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: flex-start;
}
