
.about-btf {
    width: 100vw;
}

.about-btf-container {
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                         "edu experience whoami"
                         "tech tools skills"
                         "languages libraries platforms";
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: flex-start;
}
